<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dayuanit.ape.dao.UserMapper">

	<resultMap id="userResultMap" type="user">
		<id property="id" column="id" />
		<result property="realName" column="real_name"/>
		<result property="password" column="password"/>
		<result property="sex" column="sex"/>
		<result property="birthday" column="birthday"/>
		<result property="email" column="email"/>
		<result property="phone" column="phone"/>
		<result property="wx" column="wx"/>
		<result property="qq" column="qq"/>
		<result property="codeUrl" column="code_url"/>
		<result property="blogUrl" column="blog_url"/>
		<result property="schoolName" column="school_name"/>
		<result property="degree" column="degree"/>
		<result property="graduTime" column="gradu_time"/>
		<result property="hackDomain" column="hack_domain"/>
		<result property="major" column="major"/>
	</resultMap>
	
	<insert id="addUser" parameterType="user" useGeneratedKeys="true" keyProperty="id">
		insert into ape_user(real_name, password, sex, birthday, email, phone, wx, qq, code_url, blog_url,school_name,degree,gradu_time,hack_domain,major) 
		values(#{realName},#{password},#{sex},#{birthday},#{email},#{phone},#{wx},#{qq},#{codeUrl},#{blogUrl},#{schoolName},#{degree},#{graduTime},#{hackDomain},#{major});
	</insert>
	
	<sql id="userMapperSel">
		id, real_name, password, sex, birthday, email, phone, wx, qq, code_url, code_url, blog_url, school_name, degree, gradu_time, hack_domain,major
	</sql>
	
	<select id="getUserByEmail" parameterType="String" resultMap="userResultMap">
		select <include refid="userMapperSel"></include> from ape_user where email = #{email};
	</select>
	
	<select id="getUserByUserId" parameterType="int" resultMap="userResultMap">
		select <include refid="userMapperSel"></include> from ape_user where id=#{userId};
	</select>
	
	<update id="modifyEducationByUserId" parameterType="HashMap">
		update ape_user set school_name=#{schoolName}, degree=#{degree}, gradu_time=#{graduTime}, major=#{major} where id=#{userId};
	</update>
	
	<update id="modifyContactByUserId" parameterType="HashMap">
		update ape_user set phone=#{phone}, wx=#{wx}, qq=#{qq} where id=#{userId};
	</update>
	
	<update id="modifyHackDomainByUserId" parameterType="HashMap">
		update ape_user set hack_domain=#{hackDomain} where id=#{userId};
	</update>
	
	<update id="modifyBlogCodeByUserId" parameterType="HashMap">
		update ape_user set code_url=#{codeUrl}, blog_url=#{blogUrl} where id=#{userId};
	</update>
	
	<update id="modifyBaseInfoByUserId">
		update ape_user set real_name=#{realName}, sex=#{sex}, birthday=#{birthday}, email=#{email} where id=#{userId};
	</update>
	
	<select id="getUserByHackDomain" parameterType="String" resultMap="userResultMap">
		select <include refid="userMapperSel"></include> from ape_user where hack_domain = #{hackDomain};
	</select>
	
</mapper>